name: Run Python Script

on:
  push:
    branches:
      - main
  # You can also add workflow_dispatch to run the workflow manually from the GitHub UI
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository content
      uses: actions/checkout@v4 # Use the latest checkout action

    - name: Set up Python
      uses: actions/setup-python@v5 # Use the latest setup-python action
      with:
        python-version: '3.10' # Specify your required Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Execute app.py script
      run: python app.py
